{:paths ["src" "resources"]
 :deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.trace {:mvn/version "0.7.11"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        nrepl/nrepl {:mvn/version "1.1.0"}
        protoflex/parse-ez {:mvn/version "0.4.2"}}
 :aliases
 {:neil {:project {:name aoc/aoc :version "0.10.6"}}
  :run {:main-opts ["-m" "aoc.core"]}

  :nrepl {:main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}

 :test
 {:extra-paths ["test"]
  :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :git/tag "v0.5.1"
                 :git/sha "dfb30dd"}}
  :main-opts ["-m" "cognitect.test-runner"]
  :exec-fn cognitect.test-runner.api/test}
  }}
